body {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  background-image: url("Bg.jpg");
}

.tab-content-1 {
  height: 300px;
  border: 5px solid rgba(6, 6, 6, 0.555);
  border-radius: 4px;
  padding: 2px;
  background-color: #64585888;
}

.navbar-brand {
  font-family: "Sansita Swashed", cursive;
  font-size: 26px;
  margin-right: 40px;
}

.navbar-nav {
  font-size: 20px;
}

.navbar-nav li :hover {
  color: #2a9d8f;
  border-bottom: 2px solid #2a9d8f;
}

.nav-two {
  margin-left: 40px;
}

.content-1 {
  margin-top: 10px;
}
h1 {
  text-align: center;
}

.tab-content-1 {
  height: 300px;
  border: 5px solid rgba(227, 234, 227, 0.626);
  border-radius: 4px;
  padding: 3px;
}
.text-content {
  text-align: center;
}
form {
  padding-top: 20px;
}
textarea {
  width: 85%;
  height: 150px;
}

input {
  border-radius: 2px solid rgb(172, 169, 169);
}

button {
  background-color: #fef60a;
}

#submit-button-1 {
  margin-left: 100px;
  background-color: #41cfbfd6;
  color: white;
}

#submit-button-2 {
  margin-left: 105px;

  background-color: #38dfe4da;
  color: white;
  visibility: hidden;
}

.output-per-tot {
  font-size: 40px; /* Increase circle size */
  padding-top: 30px;
  margin: 0 auto; /* Center the circle horizontally within its container */
  text-align: center;
  width: 140px; /* Adjust circle width as needed */
  height: 140px; /* Adjust circle height as needed */
  border: 7px solid #23e6e0;
  border-radius: 50%;
}

#p1 {
  margin-left: 180px;
}

.result-div {
  margin-bottom: 40px;
}

.result-1 {
  background-color: #f0f0f489;
  padding: 15px 10px;
  border-radius: 5px;
  text-align: justify;
  height: auto;
  overflow: auto;
  word-wrap: break-word;
  white-space: normal;
}

/* .result-1 {
  background-color: #f0f0f489;
  padding: 15px 10px;
  border-radius: 5px;
  text-align: justify;
  max-height: 300px; /* Adjust the height as needed
  overflow-y: scroll;
}*/

.result-2 {
  padding-top: 20px; /* Adjust padding to position "Plagiarized" below the circle */
}
