# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/
*.env

# Environment variable files
.env
.env.*

# NLTK data (optional, if downloaded to project folder)
nltk_data/

# Logs
*.log
*.pot
*.mo

# PyInstaller
*.spec
dist/
build/

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/

# Flask stuff
instance/
.webassets-cache

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyCharm
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
